@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";
.header {
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 0 50px;
  display: flex;
  box-shadow: 0 1px 3px #0000001a;
}

.header__img {
  height: 40px;
  text-decoration: none;
}

.nav {
  text-align: center;
  justify-content: center;
  display: flex;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav__item {
  margin-left: 20px;
  margin-right: 0;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__link {
  white-space: nowrap;
  text-transform: uppercase;
  color: #060b35;
  align-items: center;
  height: 60px;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  position: relative;
}

.nav__link:hover, .nav__link.is-active {
  color: #00acdc;
}

.nav__link.is-active:after {
  content: "";
  background-color: #00acdc;
  border-radius: 2px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.card {
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
  flex-direction: column;
  width: 200px;
  font-family: Roboto, sans-serif;
  transition: transform .3s;
  display: flex;
}

.card__img {
  width: 160px;
  height: 134px;
  margin: 32px auto 0;
}

.card__info--model {
  color: #060b35;
  height: 36px;
  margin: 40px 16px 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  transition: color .3s;
}

.card__info--code {
  color: #616070;
  height: 14px;
  margin: 4px 16px 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}

.card__stats {
  justify-content: space-between;
  align-items: center;
  margin: 16px 16px 0;
  display: flex;
}

.card__stats--reviews {
  color: #060b35;
  margin: 0;
  font-size: 10px;
  font-weight: 400;
}

.card__sell {
  justify-content: space-between;
  align-items: center;
  height: 18px;
  margin: 24px 16px 0;
  line-height: 18px;
  display: flex;
}

.card__sell--price {
  color: #616070;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}

.card__sell--cost {
  color: #060b35;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.card__link {
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  background-color: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  text-decoration: none;
  transition: color .3s, background-color .3s;
  display: flex;
}

.card__link:hover {
  color: #00acdc;
  background-color: #fff;
}

.card:hover {
  transform: scale(1.2);
}

.card:hover .card__info--model {
  color: #34568b;
}

.stars {
  display: flex;
}

.stars__star {
  background-image: url("star.fa806e3c.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.stars__star:not(:last-child) {
  margin-right: 4px;
}

.stars--1 .stars__star:first-child, .stars--2 .stars__star:nth-child(-n+2), .stars--3 .stars__star:nth-child(-n+3), .stars--4 .stars__star:nth-child(-n+4), .stars--5 .stars__star:nth-child(-n+5) {
  background-image: url("star-active.2be54011.svg");
}

.catalog {
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  justify-content: center;
  gap: 46px 48px;
  padding: 50px 40px 72px;
  display: grid;
}

@media (width >= 488px) {
  .catalog {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (width >= 768px) {
  .catalog {
    grid-template-columns: repeat(3, 200px);
  }
}

@media (width >= 1024px) {
  .catalog {
    grid-template-columns: repeat(4, 200px);
  }
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
/*# sourceMappingURL=index.e378193d.css.map */
